/* General Styles */
body {
  padding-top: 62px; /* Ajusta este valor según la altura real del encabezado */
}
.work-sans {
  font-family: 'Work Sans', sans-serif;
}

#menu-toggle:checked + #menu {
  display: block;
}

.hover\:grow {
  transition: all 0.3s;
  transform: scale(1);
}

.hover\:grow:hover {
  transform: scale(1.02);
}

/* Carousel Styles */
/* Estilos base del carrusel */
.carousel-item {
  transition: opacity 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 0;
}
.bg-custom {
  background-position: top 0cm right; /* Ajuste base para dispositivos móviles */
}
.bg-custom-2 {
  background-position: top 0cm right; /* Ajuste base para dispositivos móviles */
}
.bg-custom-3 {
  background-position: top 0cm right; /* Ajuste base para dispositivos móviles */
}
.carousel-open:checked + .carousel-item {
  position: relative;
  opacity: 1;
  z-index: 1;
}

/* Indicadores */
.carousel-bullet {
  transition: color 0.3s ease;
  color: rgb(231, 231, 231); /* Color para los indicadores inactivos */
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Para asegurarse de que la imagen ocupe todo el espacio sin deformarse */
  transition: none;
}

.carousel-item .container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  color: white;
  width: 100%;
  background-color: transparent;
  z-index: 10; /* Asegura que esté por encima del fondo */
  opacity: 1; /* Asegura visibilidad completa */
}
.carousel-item .container .flex {
  position: relative;
  top: -1cm; /* Mueve este contenedor 1 cm hacia arriba */
}


p.text-black.text-2xl.my-4 {
  font-size: 2rem; /* Ajusta el tamaño según tus necesidades */
}
.carousel-item p, .carousel-item a {
  margin: 0;
}

/* Mostrar controles cuando el slide está activo */
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

/* Estilos para los indicadores */
.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

/* Estilo para el indicador activo */
#carousel-1:checked ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: black; /* Color del indicador activo */
}
/* Cart Icon in Header */
#cart-icon {
  position: relative;
  display: inline-block;
  top: 0.1cm; /* Baja el ícono 0.2 cm */
}

#cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 0.75rem;
  background-color: #e53e3e;
  color: white;
  border-radius: 9999px;
  height: 1.25rem;
  width: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Sidebar Cart Styles */
.cart-sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: right 0.3s ease;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
}

.cart-sidebar h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

.cart-sidebar.show {
  right: 0;
}

.cart-sidebar li strong {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
  margin-bottom: 20px;
}
.cart-item-info {
  display: flex;
  align-items: center; /* Alinea verticalmente todos los elementos al centro */
  margin-bottom: 10px;
  font-size: 14px;
}

.product-image {
  width: 40px; /* Tamaño de imagen ajustado */
  height: 40px;
  border-radius: 5px;
  margin-right: 10px; /* Espacio entre la imagen y el contenido */
}

.item-details {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ocupa todo el espacio disponible */
}

.product-name {
  font-weight: 600;
  margin-bottom: 2px; /* Reduce el espacio entre el nombre y el precio */
  position: relative; /* Permite mover el elemento respecto a su posición original */
  top: 0.3cm; /* Mueve el elemento 0.3 cm hacia abajo */
  letter-spacing: -0.5px; /* Ajusta el espaciado entre caracteres */
}
.product-info {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Asegura que los elementos se distribuyan correctamente */
}

.product-price {
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
}

.quantity-input {
  width: 40px; /* Reduce el tamaño del input para que encaje mejor */
  padding: 3px;
  text-align: center;
  font-size: 14px;
  margin-right: 5px; /* Añade un pequeño margen a la derecha */
}

.delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-left: 10px; /* Espacio entre el input y el botón eliminar */
}

.delete-icon {
  width: 20px;
  height: 20px;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  position: relative; /* Asegura que el icono se pueda mover con top */
  top: -0.15cm; /* Mueve el icono 0.5 cm hacia arriba */
}


.delete-btn:hover .delete-icon {
  opacity: 1;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

.quantity-controls button {
  padding: 2px 6px;
  background-color: #e2e8f0;
  border: none;
  cursor: pointer;
}

.quantity-controls button:hover {
  background-color: #cbd5e0;
}

/* Overlay Styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.overlay.show {
  display: block;
}

/* Product Card Button */
button#add-to-cart-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

button#add-to-cart-button img {
  width: 24px;
  height: 24px;
}

button#add-to-cart-button:hover img {
  filter: invert(1);
}

/* Estilos para el botón de Checkout con animación */
.checkout-btn {
  padding: 15px 40px;  /* Padding inicial */
  background-color: #000; /* Fondo negro */
  color: #fff; /* Texto blanco */
  border: none; /* Sin borde */
  text-transform: uppercase;
  font-family: 'Helvetica', sans-serif; /* Usar Helvetica o sans-serif */
  font-size: 12px;
  letter-spacing: 3px;
  position: relative;
  transition: padding 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.4s ease, color 0.4s ease;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
  display: block;
  width: fit-content; /* Ajusta el ancho al contenido */
  margin: 0 auto; /* Centra el botón horizontalmente */
  box-sizing: border-box; /* Incluye padding y border en el tamaño total del botón */
}

.checkout-btn::after,
.checkout-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), right 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.checkout-btn::after {
  width: 30px;
  height: 1px;
  background: white;
  transform: translateX(-3px);
  margin-top: 0px;
}

.checkout-btn::before {
  transform: rotate(-135deg) translateX(50%);
  width: 11px;
  height: 11px;
  background: transparent;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  margin-top: -1px;
}

.checkout-btn:hover {
  padding: 15px 50px 15px 30px; /* Mantén un padding más equilibrado */
}

.checkout-btn:hover::after,
.checkout-btn:hover::before {
  opacity: 1;
  right: 15px;
}
/* Estilos para el botón de Vaciar Carrito */
.clear-cart-btn {
  background-color: #fff; /* Fondo blanco */
  color: #333; /* Texto negro suave */
  border: 2px solid #333; /* Borde negro */
  border-radius: 5px;
  padding: 12px;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.clear-cart-btn:hover {
  background-color: #f5f5f5; /* Fondo gris claro */
  color: #000; /* Texto negro más oscuro */
  border-color: #000; /* Borde negro más oscuro */
}

/* Estilos globales para cualquier botón con el texto 'Eliminar' */
button:contains('Eliminar') {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f44336; /* Color de fondo */
  color: white; /* Color del texto */
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 3px; /* Bordes redondeados */
  cursor: pointer;
  margin-top: 10px; /* Espaciado superior */
  margin-left: 10px; /* Espaciado a la izquierda */
}

button:contains('Eliminar'):hover {
  background-color: #d32f2f; /* Color de fondo al pasar el mouse */
}

.delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.delete-btn img {
  width: 20px;
  height: 20px;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.delete-btn:hover img {
  opacity: 1;
}

/* Estilos para el botón de Eliminar como papelera */
button.delete-btn {
  display: inline-block;
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin bordes */
  cursor: pointer;
  padding: 5px;
  margin-top: 10px; /* Espaciado superior */
  margin-left: 10px; /* Espaciado a la izquierda */
}

button.delete-btn i {
  font-size: 24px; /* Tamaño del icono */
  color: #f44336; /* Color del icono de papelera */
}

button.delete-btn:hover i {
  color: #d32f2f; /* Color del icono al pasar el mouse */
}

/* Estilo para la lista desplegable del filtro */
#filter-dropdown {
  position: absolute;
  top: 100%; /* Justo debajo del botón */
  left: 50%; /* Centrado inicialmente en móviles */
  transform: translateX(-70%); /* Asegurar centrado en móviles */
  z-index: 10;
  width: auto;
  min-width: 200px;
  background-color: rgba(255, 255, 255, 0.95); /* Fondo ligeramente translúcido */
  border: 1px solid #ddd; /* Borde suave y claro */
  border-radius: 5px; /* Bordes ligeramente redondeados */
  padding: 10px 0; /* Espacio interno para las opciones */
  margin-top: 8px; /* Espacio entre el botón y el menú */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilo para el botón del filtro */
.filter-button {
  margin-top: 0cm; /* Baja el botón 0.2 cm desde su posición natural */
}

/* Estilo para los botones dentro del filtro */
#filter-dropdown button {
  width: 100%;
  text-align: left;
  padding: 10px 15px;
  background-color: transparent; /* Fondo transparente para un look minimalista */
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333; /* Color de texto suave */
  transition: background-color 0.2s ease, color 0.2s ease;
}

#filter-dropdown button:hover {
  background-color: #f5f5f5; /* Color de fondo claro en hover */
  color: #000; /* Color de texto más oscuro en hover */
}

/* En pantallas más grandes, mueve la lista 2.5 cm hacia la izquierda */
@media (min-width: 768px) {

  .bg-white-opacity {
    background-color: transparent !important;
}
  .bg-custom {
    background-position: top -2cm right; /* Baja la imagen de fondo 2 cm */
}
.bg-custom-2 {
  background-position: top -2cm right; /* Baja la imagen de fondo 2 cm */
}
.bg-custom-3 {
  background-position: top -1cm right; /* Sube la imagen de fondo 1 cm */
}
  #filter-dropdown {
      left: -2.5cm; /* Desplazar 2.5 cm hacia la izquierda en pantallas grandes */
      transform: none; /* Eliminar la transformación centrada */
  }
}
.btn-view-product {
  display: inline-block;
  padding: 10px 12px; /* Aumenta el padding vertical en 8px (0.2cm) y el horizontal a 12px */
  background-color: transparent; /* Mantén transparente para que se vea como un enlace */
  color: #ffffff; /* Color del texto */
  text-align: center;
  text-decoration: none; /* Eliminar subrayado predeterminado */
  border: none; /* Sin bordes adicionales */
  font-weight: 500;
  font-size: 1.25rem; /* Ajusta el tamaño de la fuente según necesites */
  cursor: pointer; /* Cambiar el cursor a la mano */
  border-bottom: 1px solid #606060; /* Línea inferior para parecer un enlace subrayado */
  transition: color 0.3s ease, border-color 0.3s ease; /* Transición suave */
  line-height: 1.5; /* Ajusta el line-height para centrar el texto verticalmente */
}


.btn-view-product:hover {
  color: #dddddd; /* Cambia el color del texto al pasar el ratón */
  border-color: #dddddd; /* Cambia el color del borde inferior al pasar el ratón */
}

.btn-view-product:focus {
  outline: none; /* Elimina el borde de enfoque */
}
.hidden {
  display: none;
}

#delivery-address {
  margin-top: 10px;
}

#delivery-address input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 5px;
}
.delivery-section {
  margin-top: 20px;
  padding: 10px 0;
  border-top: 1px solid #e0e0e0;
}

.delivery-option, .delivery-address {
  margin-bottom: 15px;
}

.delivery-option select, 
.delivery-address input {
  width: 100%;  /* Asegura que el select y input ocupen todo el ancho disponible */
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.delivery-option label, 
.delivery-address label {
  font-weight: 600;
  color: #333;
  display: block;
  margin-bottom: 5px;
}
.coupon-section {
  margin-top: 10px;
  margin-bottom: 10px;
}

.coupon-input-group {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.coupon-input-group input {
  width: 60%; /* Ajusta el ancho del input */
  padding: 5px; /* Reduce el padding para hacer el input más compacto */
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  font-size: 12px; /* Disminuye el tamaño de la fuente */
}

.coupon-input-group button {
  padding: 5px 8px; /* Reduce el tamaño del botón */
  background-color: #333;
  color: white;
  border: 1px solid #333;
  border-left: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 12px; /* Disminuye el tamaño de la fuente */
}

.coupon-input-group button:hover {
  background-color: #555;
}
#catalog-message {
  background-color: #ffffff; /* Fondo blanco para el contenedor */
  border: 1px solid #e0e0e0; /* Borde sutil */
  padding: 15px; /* Espaciado interno */
  border-radius: 5px; /* Bordes ligeramente redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: none; /* Ocultar inicialmente */
  text-align: center; /* Centrar contenido */
}

#catalog-message.show {
  display: block; /* Mostrar el mensaje */
  opacity: 1;
}

#catalog-message.hide {
  opacity: 0;
  display: none; /* Ocultar cuando no está visible */
}

#catalog-message p {
  font-size: 1.5rem; /* Tamaño de texto moderado */
  margin-bottom: 10px; /* Espaciado entre el texto y el botón */
  color: #333; /* Texto en gris oscuro */
}

#catalog-message a {
  background-color: #ff6600; /* Fondo azul para el botón */
  color: #ffffff; /* Texto blanco */
  padding: 10px 15px; /* Espaciado interno del botón */
  border-radius: 5px; /* Bordes redondeados */
  text-decoration: none; /* Sin subrayado en el enlace */
  font-weight: 500; /* Texto moderadamente grueso */
  letter-spacing: -0.8px; /* Reduce el espacio entre las letras */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
}

#catalog-message a:hover {
  background-color: #000000; /* Fondo más oscuro al pasar el cursor */
  transform: translateY(-3px); /* Pequeño movimiento hacia arriba */
}
.bg-white-opacity {
  background-color: rgba(255, 255, 255, 0.324); /* Fondo blanco con 80% de opacidad */
  padding: 0.25rem 0.5rem; /* Espaciado interno alrededor del texto */
  display: inline-block; /* Hace que el fondo se ajuste al tamaño del texto */
  border-radius: 0.5rem; /* Bordes redondeados */
}
.fixed-header {
  position: fixed; /* Fija el elemento en la pantalla */
  top: 0;         /* Fija la parte superior del elemento al borde superior de la página */
  left: 0;        /* Fija la parte izquierda del elemento al borde izquierdo de la página */
  width: 100%;    /* Hace que el encabezado ocupe todo el ancho de la pantalla */
  z-index: 50;    /* Asegura que el encabezado esté por encima de otros elementos */
  background-color: white; /* Añade un color de fondo para que sea visible */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Añade una ligera sombra para mejor visibilidad */
}
